
 body{
   
    background-blend-mode: darken ;
    background-size: cover 200% 200% ;
    background-position: center ;
  
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#80d8b8,#ab71b3,#ab71b3,gold);
    animation: color 12s ease-in-out infinite;
}

@keyframes color
{
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
img{
   
    mix-blend-mode: multiply;
    padding-left: 80px;
    margin-left: 500px ;
    width: 300px;
    height: 200px ;
    border: 4px;
    
}
.home{
    height: 680px;
  }
  .logo-container{
      display: flex;
  }
  .logo{
      font-size: 1.5em;
      padding: 10px 30px;
      margin-left: 50px;
      font-weight: 400;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: 0.5s;

      

  }
 .logo:hover{
  color: var(--clr);
  background: var(--clr);
  letter-spacing: 0.25em;
      box-shadow: 0 0 35px var(--clr);
     
      
  }
  .logo:before{
    content: '';
    position: absolute;
    inset: 2px;
    
  
  }
  
 
  nav{
    height: 15vh;
    width: 50vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-left: 50%;
  }
  .nav-option{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 5px;
    margin: 0px 20px;
    margin-top: -60px;
    display: flex;
    float: right;
    position: relative;
    opacity: 0.75;
    align-items: center;
    z-index: 2;
}
.nav-option:hover {
    opacity: 1;
    text-decoration: none;
    color: #ffffff;
}
.nav-option::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #eeeeee;
    width: 0%;
    bottom: 10px;
}
.nav-option:hover::before {
    width: 100%;
  }


  
  .content {
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 18px;
    font-size: 24px;
    margin-left: 140px;
    margin-top: 170px;
  }
  .content h2 {
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    margin-left: 205px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  .container p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .container {
    position: absolute;
    color: #e5e5e5;
    font-size: 2.24rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-left: -160px;
    margin-top: -220px;
  }
  
  .animation {
    height:60px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:transparent;
    color: #cf490b;
  }
  .second div {
    background-color:transparent;
    color: #ff00c8;
  }
  .third div {
    background-color:transparent;
    color: #a5ee1e;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  .about{
    height: 550px;
  }
  .about h2{
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    padding: 28px;
    position: relative;
    margin-bottom: -80px;
    margin-left: 120px;
  }
  .about-section p{
    width: 560px;
    height: 230px;
    color: #ffffff;
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-size: 18px;
    margin-top: 90px;
    margin-left: 60px;
    padding: 18px;
    cursor: text;
    z-index: 1;
    overflow: hidden;
  }

  .home .pp{
    width: 50%;
    -webkit-mask-repeat: no-repeat;
    float: right;
    margin-left: 190px;
    margin-top: -370px;
    z-index: 2;
   }